@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body { font: 1rem 'Chelsea Market', Ubuntu, sans-serif; max-width: 800px; margin: 1rem auto; padding: 0 1rem; width: 100vw; height: 100vh; overflow: hidden; user-select: none; }
body { background: deepskyblue; }

button, a.btn { background: #fff; border-bottom: 5px solid rgba(0,0,0,0.25); padding: .6rem 1.2rem; margin: 1rem auto;
font: 2rem 'Chelsea Market', sans-serif; width: 15rem; color: #333;  text-decoration: none; display: block; text-align: center; }
button:hover, a.btn:hover { cursor: pointer; background: limegreen; color: #fff; }
.btn.subtle { background: #efefef; color: #333; }
.btn.primary { background: hotpink; color: #fff; }

h1.title { font: 4rem 'Kablammo', sans-serif; color: hotpink;
  text-shadow:
    3px 3px 0 rgba(0,0,0,0.75),
    -3px 3px 0 rgba(0,0,0,0.75),
    -3px -3px 0 rgba(0,0,0,0.75),
    3px -3px 0 rgba(0,0,0,0.75);
}

hr { margin: 3rem 0; height: 1px; border: none; background-color: rgba(0,0,0,0.2); }
.center { text-align: center; }
.board { display: flex; flex-wrap: wrap; align-items: center; width: 100%; }

.icon { text-align: center; font-size: 8rem; }
.pulse { animation: pulse 2s ease-in infinite; }
@keyframes pulse {
  0% { transform: scale(0.8); }
  70% { transform: scale(1.2); }
  100% { transform: scale(0.8); }
}

.info { margin-bottom: 1rem; position: relative; }
.svg-icon { font-size: 1rem; width: 2rem; filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(45deg) brightness(105%) contrast(103%);}
.svg-icon:hover { fill: #fff; cursor: pointer; filter: invert(15%) sepia(75%) saturate(4290%) hue-rotate(272deg) brightness(61%) contrast(125%); }
.svg-icon.close { position: absolute; top: 0rem; right: 1rem;}
.timer { font-size: 2rem; color: #fff; text-shadow: 0 3px rgba(0,0,0,0.5); }
.timer.stopped { color: #333; }

.game {  margin: 0 auto; height: 85vh; }
.game.win { filter: blur(0.15rem); }
.game.lose { filter: blur(0.15rem); }
body.hide { filter: blur(7rem); }
body { transition: filter 500ms ease-in; }

.board { display: grid; min-height: auto; height: 100%; box-sizing: border-box; padding-right: 1rem; }
.board.cards-6  { grid-template-columns: repeat(3, 33%); }
.board.cards-12  { grid-template-columns: repeat(4, 25%); }
.board.cards-18  { grid-template-columns: repeat(5, 20%); }
.board.cards-24  { grid-template-columns: repeat(4, 25%); }
.board.cards-30  { grid-template-columns: repeat(5, 20%); }
.board.cards-36  { grid-template-columns: repeat(6, 18%); }
.board.cards-42  { grid-template-columns: repeat(6, 18%); }

.card {
  height: 90%;
  margin: 0 1rem 1rem 0;
  perspective: 500px;
}

.card .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover { cursor: pointer; }

.card.open .inner {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.card { transition: all 0.5s; }
.card.matched { scale: 0.9; transform: rotate(5deg); }
.card.matched .inner {
  transform: rotateX( 80deg ) ;
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.card .face,
.card .back {
  position: absolute;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow:   5px 3px rgba(0,0,0,0.25);
  height: 100%;
  width: 100%;
  background: white;
  text-align: center;
  line-height: 8rem;
  font-size: 3rem;
  border-radius: 5px;
  backface-visibility: hidden;
}

.card .face span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size:  150%;
}

.card .back {
border: 10px solid  rgba(255,255,255,1);
border-radius: 10px;
box-sizing:border-box;
  font-size: 1.9rem;
  color: rgba(255,255,255,0.2);
  background: hotpink;
}
.card .face {
  color: white;
  font-size: 3rem;
  text-shadow: 3px 3px rgba(0,0,0,0.3);
  transform: rotateY( 180deg );
}


.row { border-bottom: 1px solid rgba(255,255,255,0.5);  padding: 1rem 0; margin-bottom: 1rem; }
.row label { display: block; color: white; font-weight: bold; font-size: 1.5rem; text-shadow: 0 3px rgba(0,0,0,0.5); margin-bottom: 0.5rem; }
.row.checkbox label { display: inline-block; }
.row input { display: block;  width: 100%; max-width: 400px; }
.row input[type="checkbox"] { max-width: 2rem; height: 1.4rem; display: inline-block; margin-left: 0.5rem; }
select { padding: 0.5rem 1rem;; font-size: 1.4rem; border-color: rbga(0,0,0,0.2); appearance: none; cursor: pointer; border-radius: 0.25rem; }

.alert { position: fixed; top: 30vh; left: 0; width: 100vw;
  background: #c20; color: #fff; text-align: center; z-index: 1;
  border-top: 5px solid rgba(0,0,0,0.2); border-bottom: 5px solid rgba(0,0,0,0.2);
  box-shadow: 0 5px 50px rgba(0,0,0,0.5);
}
.alert.win { background-color: hotpink; }

footer { display: block; text-align: center; width: 100vw; position: absolute; bottom: 0; left: 0; color: #fff; padding: .5rem 0; }
footer a { color: #fff; text-decoration: none; }
footer a:hover { color: hotpink; }

@media only screen and (max-width: 600px) {
  .card .face span { font-size: 100%; }
}

@media only screen and (max-width: 600px) {
  .card .face span { font-size: 100%; }
}


@media only screen and (max-width: 860px) {
  body { width: 90vw; }
  .svg-icon.close { right: -1rem; }
}
